{% extends "layout.html" %}

{% block head %}
    <title>CHALLENGE50 | Home</title>
{% endblock %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CHALLENGE50</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join">Join</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <hr>
        <h1>THIS IS CHALLENGE50!</h1>
    </div>

    <div class="text">
        <p>
            Do you want to get out of your comfort zone, expand your 
            horizons, and make the world a better place in the process?
            CHALLENGE50 is for you!
        </p>
        <p>
            CHALLENGE50 is composed of 5 challenges (numbered 0 to 4). 
            Each challenge have 50 tasks. You need to follow the 
            requirements to be valid. The challenges will make you 
            meet a lot of people, understand their feelings, and learn 
            about themes you might not know about.
        </p>
        <p>
            When you complete all tasks, you will be more wise, will have 
            more knowledge, and will be some months (or years) older! 
            This will be your only reward, but it's a great reward!
        </p>
        <p>
            Upon completion, you will have some additional tasks to validate 
            your journey. I hope this experience will be enlightening to you, 
            and will benefit you, your new friends and family, and the planet 
            itself.
        </p>
        <p>
            In order to join, you just need to choose an username and password. 
            No personal information will be needed, not even your email.
        </p>
        <p>
            Before joining, you can see below a preview of what the challenges looks like. And if you 
            like the idea, invite more people to join!
        </p>
        <h2>
            CHALLENGES
        </h2>
        <h3>
            Challenge #0 - Interviews
        </h3>
        <p>
            In this challenge, you will have to interview 50 people of different age groups. 
            This will be great way to connect with those people and learn from their life experiences.
        </p>
        <h3>
            Challenge #1 - Globalization
        </h3>
        <p>
            We live in a time when racism and other forms of segregation are becoming increasingly common. 
            This challenge will help you fight this trend by meeting and video calling people from 50 different 
            countries.
        </p>
        <h3>
            Challenge #2 - Gardening
        </h3>
        <p>
            This is a simple task. Just plant 50 trees, and you're done! 
            The planet thanks you.
        </p>
        <h3>
            Challenge #3 - Culture
        </h3>
        <p>
            Time to get out of social media and other useless web content. You will learn from various topics 
            by watching 50 documentaries from different categories.
        </p>
        <h3>
            Challenge #4 - Music
        </h3>
        <p>
            After all that work, you will relax with the easiest of all challenges. Just listen to 50 songs. 
            But not any kind of songs. You will listen to 5 of the most famous composers of the classical era.
        </p>
        <h3>
            What are you waiting for?
        </h3>
        <p>
            Start the challenge right now. Stop doing the same stuff and talking to the same people. 
            Embrace that journey. You will not regret it.
        </p>
        </div>
{% endblock %}